/*IMPORTS - Aquí están linkeadas las fuentes que utilizaré para el diseño de la web*/
	@import url('https://fonts.googleapis.com/css2?amily=Lato:wght@300;400&family=Montserrat:wght@500;700&display=swap');
	@import url('css/main.css');
/*END IMPORTS*/

br {
	margin-bottom: var(--esp-xcorto);
}

.gridBody{
	height:50vh;
	display: grid;
}

.fullScreen {
	position: absolute;
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 49.99%;
	transform: translate(-50%, -50%);
}

.contenedorFullScreen {
	position: relative;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 100%;
	margin: 0 auto;
}

.width-responsive {
	width: 90vw;
}

.width-100 {
	width: 100vw;
}

.gridVideo {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-template-areas: "video" "txt";
	padding-top: var(--esp-largo);
	padding-bottom: var(--esp-largo);
	gap: var(--esp-medio);
}

#video {
	grid-area: video;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 300px;
}

#video iframe {
	width: 80vw;
	z-index: 10;
	position: absolute;
}

#video img {
	width: 316px;
	z-index: 0;
	position: absolute;
}

#txt {
	grid-area: txt;
}

.hidden {
	overflow: hidden;
}

#img-1 {
	width: 100%;
}

#img-2 {
	width: 100%;
}

#img-3 {
	width: 100%;
}

#img-4 {
	width: 100%;
}

div.galeria > div {
	line-height:0;
	padding: var(--esp-xcorto) var(--esp-corto);
}

div.galeria > div img {
	width: 100%;
}

.boton {
	text-decoration: none;
	text-align: center;
	color: var(--color-sec);
	padding: 5px 15px 5px 15px;
	border: 1px solid var(--color-sec);
}

.flexWrap {
	display: flex;
	flex-flow: row wrap;
	gap: var(--esp-corto);
}


/*=============== MEDIA ==================*/

/*================ START 768 px ================*/

@media screen and (min-width: 768px){
	.width-100 {
		width: 90vw;
	}

	div.galeria > div {
		padding: var(--esp-xcorto) inherit;
	}

}/*END - 768px*/

/*================ START 992 px ================*/

@media screen and (min-width: 992px){

	.gridVideo {
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(1, auto);
		grid-template-areas: "video txt";
	}

	#video {
		width: 50vw;
		max-width: 600px;
		height: 400px;
	}

	#video iframe {
		width: 40vw;
		height: 250px;
	}

	#video img {
		width: 450px;
		z-index: 0;
		position: absolute;
	}

	.width-100 {
		width: 75vw;
	}

	.boton:hover {
		background-color: var(--color-sec);
		color: var(--color-pr-cl);
		box-shadow: 0px 0px 3px rgba(0, 0, 0, .45);
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
	}

}/*END - 992px*/

/*================ START 1200 px ================*/

@media screen and (min-width: 1200px){
	.width-responsive {
		width: 1000px;
	}

	#video {
		height: 450px;
	}

	#video iframe {
		width: 75vw;
		height: 340px;
	}

	#video img {
		width: 570px;
	}

	.width-100 {
		width: 1000px;
	}

	div.galeria > div {
		padding: inherit;
		margin-top: var(--esp-corto);
	}


}/*END - 1200px*/
